html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 5px 20px;
}
.flex{
    display: flex;
}
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

.none{
    display: none;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.site-login h1, .site-login > p, .site-login .form-group.submit{
    text-align: center;
}
.page_lmenu{
    width: 100%;
    display: flex;
}
.page_lmenu .left_menu{
    width:20%;
    display: inline-block;
}
.page_lmenu .content{
    width:80%;
    display: inline-block;
    padding:0 15px;
}
.page_lmenu .content h1{
    width:100%;
    text-align: center;
    display: block;
    margin: 0;
    padding-bottom:15px;
}
.left_menu{
    border-radius: 15px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    overflow: hidden;
}
.left_menu ul{
    margin: 0;
    padding: 0;
}
.left_menu li, .left_menu li a{
    display: block;
    text-align: center;
    padding: 2px 0;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.left_menu li:hover{
    background: rgba(207, 207, 207, 0.52);
}
.left_menu li.active, .left_menu li.active a {
    color: #000;
    cursor: default;
    font-weight: bold;
}
.left_menu li.active:hover, .left_menu li.active a:hover, .left_menu li.disabled, .left_menu li.disabled a:hover{
    background-color: #f5f5f5;
 }
.left_menu li.disabled, .left_menu li.disabled a {
    color: rgba(207, 207, 207, 0.52);
    cursor: default;
}

.cols{
    display: flex;
}
.fullcontent{
    width: 100%;
    border-radius: 15px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    overflow: hidden;
    margin-right: 15px;
}
.cols .left_col{
    width:70%;
    display: inline-block;
    border-radius: 15px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    overflow: hidden;
    margin-right: 15px;
}
.cols .right_col{
    width:30%;
    display: inline-block;
    border-radius: 15px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    overflow: hidden;
}
.cols .left_col .block, .cols .right_col .block, .fullcontent .block{
    padding: 0 10px;
    text-align: center;
}
.fullcontent .block .lines{
    margin-top: 15px;
}
.cols .left_col .block .lines, .cols .right_col .block .lines, .fullcontent .block .lines{
    border: 1px dotted #9ea0a6;
    /*border-radius: 10px;*/
    margin-bottom: 10px;
    background: #ffffff;
}
.cols .left_col .block .lines table, .fullcontent .block .lines table{
    width: 100%;
    margin: 10px 0;
}
.cols .left_col .block .lines table th{
    text-align: center;
}
.cols .left_col .block .lines table td, .fullcontent .block .lines table th, .fullcontent .block .lines table td{
    padding: 3px 1px;
    text-align: center;
}
.cols .left_col .block .line, .cols .right_col .block .line, .fullcontent .block .line{
    padding-bottom: 10px;
    border-bottom: 1px solid #cacaca;
}
tr.cline:hover{
    background: #dcf5ff;
    cursor: pointer;
}
tr.cline .btn:hover{
    cursor: pointer;
    color: #c80000;
}
tr.cline .btn.glyphicon-eye-open{
    cursor: pointer;
    color: #00cc00;
}
tr.cline .btn.glyphicon-eye-close{
    cursor: pointer;
    color: #c80000;
}
tr.cline .btn.glyphicon-eye-open:hover, r.cline .btn.glyphicon-eye-close:hover{
    cursor: pointer;
    color: #000;
}
.cols .right_col .block h3, .cols .right_col .block .line .title{
    width: 100%;
    display: block;
}
.general_page .cline img{
    width: 100px;
    height:auto;
}
.buttonline{
    margin: 5px 0;
    width: 100%;
    display: flex;
}
.buttonline.left{
    justify-content: flex-start;
}
.buttonline.center{
    justify-content: center;
}
.buttonline.right{
    justify-content: flex-end;
}
.buttonline .item{
    display: inline-block;
}
.buttonline .item a{
    color: #000;
    text-decoration: none;
}
.buttonline .item button{
    border-radius: 5px;
}
.buttonline .item button span{
    margin-right: 5px;
}

.block_float{
    border: 1px dotted #9ea0a6;
    margin: 10px;
    background: #ffffff;
    width: auto;
    border-radius: 0px;
    padding: 0;
}

.block_float .line{
    padding: 10px 0;
    border-bottom: 1px solid #cacaca;
    clear: both;
    overflow: hidden;
}
.block_float .line .tright{
    text-align: right;
}
.block_float .line .tleft{
    text-align: left;
}
.cline .inline_center{
    margin: 5px 0;
}
.cline input[type="file"]{
    display: inline-block;
}